python-dotenv
openai
langchain-openai
langchain-ollama
langchain
langgraph
langchain-community
langchain-core
langchain-cohere
ollama
streamlit
pypdf
PyPDF2
pymupdf
tiktoken
faiss-cpu
pytesseract
pillow
Document
gtts
